# Handling missing data

In [ ]:
import pandas as pd

In [12]:
# Sample dataset
data = {
    'Name': ['John', 'Mike', 'Sara', None],
    'Age': [25, 30, None, 22],
    'Salary': [50000, None, 60000, 52000]
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)

Original Data:
   Name   Age   Salary
0  John  25.0  50000.0
1  Mike  30.0      NaN
2  Sara   NaN  60000.0
3  None  22.0  52000.0

In [13]:
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
Name      1
Age       1
Salary    1
dtype: int64

In [15]:
# Fill missing 'Age' with the mean age
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Fill missing 'Salary' with the median salary
df['Salary'].fillna(df['Salary'].median(), inplace=True)

# Fill missing 'Name' with 'Unknown'
df['Name'].fillna('Unknown', inplace=True)

print("\nData after filling missing values:")
print(df)

Data after filling missing values:
      Name        Age   Salary
0     John  25.000000  50000.0
1     Mike  30.000000  52000.0
2     Sara  25.666667  60000.0
3  Unknown  22.000000  52000.0